<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="fullname" id="">
            <input type="text" name="age" id="">
            <input type="text" class="form-control mt-2" id="search-input" name="q" placeholder="Nhập từ khóa...">
        </div>

        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button class="btn btn-success" type="submit">Tìm kiếm</button>
    </form>
    
</div>